
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCvLabel">Create or edit a Cv</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.cv.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.cv.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cvLibelle">Cv Libelle</label>
            <input type="text" class="form-control" name="cvLibelle" id="field_cvLibelle"
                    ng-model="vm.cv.cvLibelle"
                    required />
            <div ng-show="editForm.cvLibelle.$invalid">
                <p class="help-block"
                    ng-show="editForm.cvLibelle.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cvDate">Cv Date</label>
                <div class="input-group">
                    <input id="field_cvDate" type="text" class="form-control" name="cvDate" datetime-picker="{{dateformat}}" ng-model="vm.cv.cvDate" is-open="vm.datePickerOpenStatus.cvDate"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('cvDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.cvDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.cvDate.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.cvDate.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cvEtat">Cv Etat</label>
            <input type="text" class="form-control" name="cvEtat" id="field_cvEtat"
                    ng-model="vm.cv.cvEtat"
                     />
        </div>

        <div class="form-group">
            <label for="field_collaborateur">Collaborateur</label>
            <select class="form-control" id="field_collaborateur" name="collaborateur" ng-model="vm.cv.collaborateur" ng-options="collaborateur as collaborateur.id for collaborateur in vm.collaborateurs track by collaborateur.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
