
<div>
    <h2>
    	<span>{{vm.collaborateur.collaborateurNom}} {{vm.collaborateur.collaborateurPrenom}}</span>
    	<div ng-if="vm.collaborateur.collaborateurPhotos" class="pull-right">
	        <a ng-click="vm.openFile(vm.collaborateur.collaborateurPhotosContentType, vm.collaborateur.collaborateurPhotos)">
	            <img data-ng-src="{{'data:' + vm.collaborateur.collaborateurPhotosContentType + ';base64,' + vm.collaborateur.collaborateurPhotos}}" style="max-width: 60px;"/>
	        </a>
	    </div>
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
	    <dt><span>TGI</span></dt>
        <dd>
            <span>{{vm.collaborateur.collaborateurNumeroTgi}}</span>
        </dd>
        <dt><span>Matricule</span></dt>
        <dd>
            <span>{{vm.collaborateur.collaborateurMatricule}}</span>
        </dd>
        <dt><span>Date de Naissance</span></dt>
        <dd>
            <span>{{vm.collaborateur.collaborateurDateNaissance | date:'dd/MM/yyyy'}}</span>
        </dd>
        <dt><span>Sexe</span></dt>
        <dd>
            <span translate="{{'gestioncompetencesApp.Sexe.' + vm.collaborateur.collaborateurSexe}}">{{vm.collaborateur.collaborateurSexe}}</span>
        </dd>
        <dt><span>Etat Marital</span></dt>
        <dd>
            <span translate="{{'gestioncompetencesApp.EtatMarital.' + vm.collaborateur.collaborateurEtatMarital}}">{{vm.collaborateur.collaborateurEtatMarital}}</span>
        </dd>
        <dt><span>Nombre Enfant</span></dt>
        <dd>
            <span>{{vm.collaborateur.collaborateurNombreEnfant}}</span>
        </dd>
        <dt><span>Date Arrivee</span></dt>
        <dd>
            <span>{{vm.collaborateur.collaborateurDateArrivee | date:'dd/MM/yyyy'}}</span>
        </dd>
        <dt><span>Langue</span></dt>
        <dd>
            <span translate="{{'gestioncompetencesApp.Langue.' + vm.collaborateur.collaborateurLangue}}">{{vm.collaborateur.collaborateurLangue}}</span>
        </dd>
    </dl>
    
    <div class="table-responsive">
    	<h4>
	    	<span>Adresses</span>
	    	<button id="btnListeAdresse" class="btn btn-info btn-sm pull-right" >
				<span id="chevronListeAdresses" class="glyphicon glyphicon-chevron-down"></span>
		    	<span class="hidden-xs hidden-sm"></span>
			</button>
		</h4>
		<div id="listeAdresses" style="display:none">
	    	<div class="container-fluid">
		        <div class="row">
		            <div class="col-xs-4 no-padding-left">
		                <button class="btn btn-primary" ui-sref="adresse.new({idCollaborateur:vm.collaborateur.id})" >
		                    <span class="glyphicon glyphicon-plus">  Ajouter une nouvelle adresse postale</span>
		                </button>
		            </div>
		        </div>
		    </div>
		    <br/>
		    <table class="jh-table table table-striped">
		        <thead>
		            <tr jh-sort="vm.predicateAdresse" ascending="vm.reverseAdresse" callback="vm.resetAdresse()">
	                    <th jh-sort-by="adresseNumero"><span>Numero</span> <span class="glyphicon glyphicon-sort"></span></th>
	                    <th jh-sort-by="adresseVoie"><span>Adresse Voie</span> <span class="glyphicon glyphicon-sort"></span></th>
	                    <th jh-sort-by="adresseVoie2"><span>Adresse Voie 2</span> <span class="glyphicon glyphicon-sort"></span></th>
	                    <th jh-sort-by="adresseCodePostal"><span>Code Postal</span> <span class="glyphicon glyphicon-sort"></span></th>
	                    <th jh-sort-by="adresseVille"><span>Ville</span> <span class="glyphicon glyphicon-sort"></span></th>
	                    <th jh-sort-by="adressePays"><span>Pays</span> <span class="glyphicon glyphicon-sort"></span></th>
	                    <th jh-sort-by="adresseIsPrincipale"><span>Principale</span> <span class="glyphicon glyphicon-sort"></span></th>
	                    <th></th>
	                </tr>
		        </thead>
		        <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
			        <tr ng-repeat="adresse in vm.collaborateur.adresses track by adresse.id">
		                <td>{{adresse.adresseNumero}}</td>
		                <td>{{adresse.adresseVoie}}</td>
		                <td>{{adresse.adresseVoie2}}</td>
		                <td>{{adresse.adresseCodePostal}}</td>
		                <td>{{adresse.adresseVille}}</td>
		                <td>{{adresse.adressePays}}</td>
		                <td>
		                	<span ng-show="adresse.adressePrincipale"><span class="glyphicon glyphicon-check text-success btn-xl"/></span>
		                    <span ng-hide="adresse.adressePrincipale"><span class="glyphicon glyphicon-unchecked text-error btn-xl"/></span>
		                </td>
		                <td class="text-right">
		                    <div class="btn-group flex-btn-group-container">
		                         <button type="submit"
		                                ui-sref="adresse.edit({idAdresse:adresse.id})"
		                                class="btn btn-primary btn-sm" title="Modification">
		                            <span class="glyphicon glyphicon-pencil"></span>
		                            <span class="hidden-xs hidden-sm"></span>
		                        </button>
		                        <button type="submit"
		                                ui-sref="adresse.delete({idAdresse:adresse.id})"
		                                class="btn btn-danger btn-sm" title="Suppression">
		                            <span class="glyphicon glyphicon-remove-circle"></span>
		                            <span class="hidden-xs hidden-sm"></span>
		                        </button>
		                    </div>
		                </td>
		            </tr>
		        </tbody>
		    </table>
	    </div>
	</div>
	
	<div class="table-responsive">
		<h4>
	    	<span>Emails de contact</span>
	    	<button id="btnListeEmails" class="btn btn-info btn-sm pull-right" >
				<span id="chevronListeEmails" class="glyphicon glyphicon-chevron-down"></span>
		    	<span class="hidden-xs hidden-sm"></span>
			</button>
		</h4>
		<div id="listeEmails" style="display:none">
	    	<div class="container-fluid">
		        <div class="row">
		            <div class="col-xs-4 no-padding-left">
		                <button class="btn btn-primary" ui-sref="email.new({idCollaborateur:vm.collaborateur.id})" >
		                    <span class="glyphicon glyphicon-plus">  Ajouter une nouvelle adresse mail</span>
		                </button>
		            </div>
		        </div>
		    </div>
		    <br/>
		    <table class="jh-table table table-striped">
	            <thead>
	            	<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
	                    <th jh-sort-by="emailLibelle"><span>Adresse mail</span> <span class="glyphicon glyphicon-sort"></th>
	                    <th jh-sort-by="emailIsPrincipale"><span>Principale</span> <span class="glyphicon glyphicon-sort"></span></th>
	                    <th></th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="email in vm.collaborateur.emails track by email.id">
	                    <td>{{email.emailLibelle}}</td>
	                    <td>
		                	<span ng-show="email.emailPrincipale"><span class="glyphicon glyphicon-check text-success btn-xl"/></span>
		                    <span ng-hide="email.emailPrincipale"><span class="glyphicon glyphicon-unchecked text-error btn-xl"/></span>
		                </td>
	                    <td class="text-right">
	                        <div class="btn-group flex-btn-group-container">
	                            <button type="submit"
	                                    ui-sref="email.edit({id:email.id})"
	                                    class="btn btn-primary btn-sm" title="Modification">
	                                <span class="glyphicon glyphicon-pencil"></span>
	                                <span class="hidden-xs hidden-sm"></span>
	                            </button>
	                            <button type="submit"
	                                    ui-sref="email.delete({id:email.id})"
	                                    class="btn btn-danger btn-sm" title="Suppression">
	                                <span class="glyphicon glyphicon-remove-circle"></span>
	                                <span class="hidden-xs hidden-sm"></span>
	                            </button>
	                        </div>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
	
	<div class="table-responsive">
		<h4>
			<span>Fonctions</span>
			<button id="btnListeFonctions" class="btn btn-info btn-sm pull-right" >
				<span id="chevronListeFonctions" class="glyphicon glyphicon-chevron-down"></span>
		    	<span class="hidden-xs hidden-sm"></span>
			</button>
		</h4>
		<div id="listeFonctions" style="display:none">
			<div class="container-fluid">
		        <div class="row">
		            <div class="col-xs-4 no-padding-left">
		                <button class="btn btn-primary" ui-sref="fonction.new({idCollaborateur:vm.collaborateur.id})" >
		                    <span class="glyphicon glyphicon-plus">  Ajouter une nouvelle fonction</span>
		                </button>
		            </div>
		        </div>
		    </div>
		    <br/>
		    <table class="jh-table table table-striped">
		        <thead>
		        	<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
		                <th jh-sort-by="fonctionNom"><span>Intitulé</span> <span class="glyphicon glyphicon-sort"></th>
		                <th jh-sort-by="fonctionDateDebut"><span>Date de Debut</span> <span class="glyphicon glyphicon-sort"></th>
		                <th jh-sort-by="fonctionDateFin"><span>Date de Fin</span> <span class="glyphicon glyphicon-sort"></th>
		                <th></th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="fonction in vm.collaborateur.fonctions track by fonction.id">
		                <td>{{fonction.fonctionNom}}</td>
		                <td>{{fonction.fonctionDateDebut | date:'dd/MM/yyyy'}}</td>
		                <td>{{fonction.fonctionDateFin | date:'dd/MM/yyyy'}}</td>
		                <td class="text-right">
		                    <div class="btn-group flex-btn-group-container">
		                        <button type="submit"
		                                ui-sref="fonction.edit({id:fonction.id})"
		                                class="btn btn-primary btn-sm" title="Modification">
		                            <span class="glyphicon glyphicon-pencil"></span>
		                            <span class="hidden-xs hidden-sm"></span>
		                        </button>
		                        <button type="submit"
		                                ui-sref="fonction.delete({id:fonction.id})"
		                                class="btn btn-danger btn-sm" title="Suppression">
		                            <span class="glyphicon glyphicon-remove-circle"></span>
		                            <span class="hidden-xs hidden-sm"></span>
		                        </button>
		                    </div>
		                </td>
		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>

	<div class="table-responsive">
		<h4>
			<span>Classifications</span>
			<button id="btnListeClassifications" class="btn btn-info btn-sm pull-right" >
				<span id="chevronListeClassifications" class="glyphicon glyphicon-chevron-down"></span>
		    	<span class="hidden-xs hidden-sm"></span>
			</button>
		</h4>
		<div id="listeClassifications" style="display:none">
			<div class="container-fluid">
		        <div class="row">
		            <div class="col-xs-4 no-padding-left">
		                <button class="btn btn-primary" ui-sref="classification.new({idCollaborateur:vm.collaborateur.id})" >
		                    <span class="glyphicon glyphicon-plus">  Ajouter une nouvelle classification</span>
		                </button>
		            </div>
		        </div>
		    </div>
		    <br/>
		    <table class="jh-table table table-striped">
			    <thead>
			    	<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
		                <th jh-sort-by="classificationNom"><span>Nom</span> <span class="glyphicon glyphicon-sort"></th>
		                <th jh-sort-by="classificationDateDebut"><span>Date de Début</span> <span class="glyphicon glyphicon-sort"></th>
		                <th jh-sort-by="classificationDateFin"><span>Date de Fin</span> <span class="glyphicon glyphicon-sort"></th>
		                <th></th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="classification in vm.collaborateur.classifications track by classification.id">
		                <td>{{classification.classificationNom}}</td>
		                <td>{{classification.classificationDateDebut | date:'dd/MM/yyyy'}}</td>
		                <td>{{classification.classificationDateFin | date:'dd/MM/yyyy'}}</td>
		                <td class="text-right">
		                    <div class="btn-group flex-btn-group-container">
		                       <button type="submit"
		                                ui-sref="classification.edit({id:classification.id})"
		                                class="btn btn-primary btn-sm" title="Modification">
		                            <span class="glyphicon glyphicon-pencil"></span>
		                            <span class="hidden-xs hidden-sm"></span>
		                        </button>
		                        <button type="submit"
		                                ui-sref="classification.delete({id:classification.id})"
		                                class="btn btn-danger btn-sm" title="Suppression">
		                            <span class="glyphicon glyphicon-remove-circle"></span>
		                            <span class="hidden-xs hidden-sm"></span>
		                        </button>
		                    </div>
		                </td>
		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>
	
	<div class="table-responsive">
		<h4>
			<span>Diplomes</span>
			<button id="btnListeDiplomes" class="btn btn-info btn-sm pull-right" >
				<span id="chevronListeDiplomes" class="glyphicon glyphicon-chevron-down"></span>
		    	<span class="hidden-xs hidden-sm"></span>
			</button>
		</h4>
		<div id="listeDiplomes" style="display:none">
			<div class="container-fluid">
		        <div class="row">
		            <div class="col-xs-4 no-padding-left">
		                <button class="btn btn-primary" ui-sref="diplome.new({idCollaborateur:vm.collaborateur.id})" >
		                    <span class="glyphicon glyphicon-plus">  Ajouter un nouveau diplome</span>
		                </button>
		            </div>
		        </div>
		    </div>
		    <br/>
		    <table class="jh-table table table-striped">
		    	<thead>
			    	<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
		                <th jh-sort-by="diplomeNom"><span>Intitulé</span> <span class="glyphicon glyphicon-sort"></th>
		                <th jh-sort-by="diplomeDate"><span>Date d'obtention</span> <span class="glyphicon glyphicon-sort"></th>
		                <th></th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="diplome in vm.collaborateur.diplomes track by diplome.id">
		                <td>{{diplome.diplomeNom}}</td>
		                <td>{{diplome.diplomeDate | date:'dd/MM/yyyy'}}</td>
		                <td class="text-right">
		                    <div class="btn-group flex-btn-group-container">
		                        <button type="submit"
		                                ui-sref="diplome.edit({id:diplome.id})"
		                                class="btn btn-primary btn-sm" title="Modification">
		                            <span class="glyphicon glyphicon-pencil"></span>
		                            <span class="hidden-xs hidden-sm"></span>
		                        </button>
		                        <button type="submit"
		                                ui-sref="diplome.delete({id:diplome.id})"
		                                class="btn btn-danger btn-sm" title="Suppression">
		                            <span class="glyphicon glyphicon-remove-circle"></span>
		                            <span class="hidden-xs hidden-sm"></span>
		                        </button>
		                    </div>
		                </td>
		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>
	
	<div class="table-responsive">
		<h4>
			<span>Formations</span>
			<button id="btnListeFormations" class="btn btn-info btn-sm pull-right" >
				<span id="chevronListeFormations" class="glyphicon glyphicon-chevron-down"></span>
		    	<span class="hidden-xs hidden-sm"></span>
			</button>
		</h4>
		<div id="listeFormations" style="display:none">
			<div class="container-fluid">
		        <div class="row">
		            <div class="col-xs-4 no-padding-left">
		                <button class="btn btn-primary" ui-sref="formation.new({idCollaborateur:vm.collaborateur.id})" >
		                    <span class="glyphicon glyphicon-plus">  Ajouter une nouvelle formation</span>
		                </button>
		            </div>
		        </div>
		    </div>
		    <br/>
		    <table class="jh-table table table-striped">
		    	<thead>
			    	<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
		                <th jh-sort-by="diplomeNom"><span>Intitulé</span> <span class="glyphicon glyphicon-sort"></th>
		                <th jh-sort-by="diplomeDate"><span>Date</span> <span class="glyphicon glyphicon-sort"></th>
		                <th></th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="formation in vm.collaborateur.formations track by formation.id">
		                <td>{{formation.formationNom}}</td>
		                <td>{{formation.formationDate | date:'dd/MM/yyyy'}}</td>
		                <td class="text-right">
		                    <div class="btn-group flex-btn-group-container">
		                        <button type="submit"
		                                ui-sref="formation.edit({id:formation.id})"
		                                class="btn btn-primary btn-sm" title="Modification">
		                            <span class="glyphicon glyphicon-pencil"></span>
		                            <span class="hidden-xs hidden-sm"></span>
		                        </button>
		                        <button type="submit"
		                                ui-sref="formation.delete({id:formation.id})"
		                                class="btn btn-danger btn-sm" title="Suppression">
		                            <span class="glyphicon glyphicon-remove-circle"></span>
		                            <span class="hidden-xs hidden-sm"></span>
		                        </button>
		                    </div>
		                </td>
		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>
	
	<div class="table-responsive">
		<h4>
			<span>Gestion des CV</span>
			<button id="btnListeCV" class="btn btn-info btn-sm pull-right" >
				<span id="chevronListeCV" class="glyphicon glyphicon-chevron-down"></span>
		    	<span class="hidden-xs hidden-sm"></span>
			</button>
		</h4>
		<div id="listeCV" style="display:none">
			<div class="container-fluid">
		        <div class="row">
		            <div class="col-xs-4 no-padding-left">
		                <button type="submit" class="btn btn-primary" ui-sref="cv.new({idCollaborateur:vm.collaborateur.id})" >
		                    <span class="glyphicon glyphicon-plus">  Ajouter un nouveau CV</span>
		                </button>
		            </div>
		        </div>
		    </div>
		    <br/>
		    <table class="jh-table table table-striped">
			    <thead>
			    	<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
		                <th jh-sort-by="cvDate"><span>Date de création</span> <span class="glyphicon glyphicon-sort"></th>
		                <th jh-sort-by="cvLibelle"><span>Libellé</span> <span class="glyphicon glyphicon-sort"></th>
		                <th></th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="cv in vm.collaborateur.cvs track by cv.id">
		                <td>{{cv.cvDate | date:'dd/MM/yyyy'}}</td>
		                <td>{{cv.cvLibelle}}</td>
		                <td class="text-right">
		                    <div class="btn-group flex-btn-group-container">
			                    <button type="submit"
		                                ui-sref="cv-edit({id:cv.id})"
		                                class="btn btn-primary btn-sm" title="Modification">
		                            <span class="glyphicon glyphicon-pencil"></span>
		                            <span class="hidden-xs hidden-sm"></span>
		                        </button>
		                        <button type="submit"
		                                ui-sref="cv.delete({id:cv.id})"
		                                class="btn btn-danger btn-sm" title="Suppression">
		                            <span class="glyphicon glyphicon-remove-circle"></span>
		                            <span class="hidden-xs hidden-sm"></span>
		                        </button>
		                        <button type="button"
			                            class="btn btn-link btn-sm" style="color:red" 
			                            title="Génération du CV en PDF" ng-click="vm.generate(cv.id, true)">
			                        <span class="fa fa-file-pdf-o"></span>
			                        <span class="hidden-xs hidden-sm"></span>
			                    </button>
			                    <button type="button"
			                            class="btn btn-link btn-sm" style="color:blue" 
			                            title="Génération du CV en DOCX" ng-click="vm.generate(cv.id, false)">
			                        <span class="fa fa-file-word-o"></span>
			                        <span class="hidden-xs hidden-sm"></span>
			                    </button>
		                    </div>
		                </td>
		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>
	
	</br>
	</br>
	</br>
	</br>
    <button type="submit" ui-sref="gestion-collaborateurs" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Retour</span>
    </button>
    
    <script>
    	$('#btnListeAdresse').click(function(){
    		$('#listeAdresses').slideToggle();
	    	$('#chevronListeAdresses').toggleClass("glyphicon-chevron-up glyphicon-chevron-down")
	    });
    	$('#btnListeEmails').click(function(){
    		$('#listeEmails').slideToggle();
	    	$('#chevronListeEmails').toggleClass("glyphicon-chevron-up glyphicon-chevron-down")
	    });
    	$('#btnListeFonctions').click(function(){
    		$('#listeFonctions').slideToggle();
	    	$('#chevronListeFonctions').toggleClass("glyphicon-chevron-up glyphicon-chevron-down")
	    });
    	$('#btnListeClassifications').click(function(){
    		$('#listeClassifications').slideToggle();
	    	$('#chevronListeClassifications').toggleClass("glyphicon-chevron-up glyphicon-chevron-down")
	    });
    	$('#btnListeDiplomes').click(function(){
    		$('#listeDiplomes').slideToggle();
	    	$('#chevronListeDiplomes').toggleClass("glyphicon-chevron-up glyphicon-chevron-down")
	    });
    	$('#btnListeFormations').click(function(){
    		$('#listeFormations').slideToggle();
	    	$('#chevronListeFormations').toggleClass("glyphicon-chevron-up glyphicon-chevron-down")
	    });
    	$('#btnListeCV').click(function(){
    		$('#listeCV').slideToggle();
	    	$('#chevronListeCV').toggleClass("glyphicon-chevron-up glyphicon-chevron-down")
	    });
    </script>
    
</div>
