
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <div class="form-group" ng-show="vm.diplome.id">
	    	<h4 class="modal-title" id="myDiplomeLabel">Edition d'un diplome</h4>
	    </div>
	    <div class="form-group" ng-hide="vm.diplome.id">
	    	<h4 class="modal-title" id="myDiplomeLabel">Création d'un diplome</h4>
	    </div>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        
        <input type="hidden" class="form-control" id="id" name="id" ng-model="vm.diplome.id" />
        
        <div class="form-group">
            <label class="control-label" for="field_diplomeNom">Intitulé</label>
            <input type="text" class="form-control" name="diplomeNom" id="field_diplomeNom"
                    ng-model="vm.diplome.diplomeNom"
                    required />
            <div ng-show="editForm.diplomeNom.$invalid">
                <p class="help-block"
                    ng-show="editForm.diplomeNom.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_diplomeDate">Date d'obtention</label>
                <div class="input-group">
                    <input id="field_diplomeDate" type="text" class="form-control" name="diplomeDate" datetime-picker="{{dateformat}}" ng-model="vm.diplome.diplomeDate" is-open="vm.datePickerOpenStatus.diplomeDate"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('diplomeDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.diplomeDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.diplomeDate.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.diplomeDate.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

        <input type="hidden" class="form-control" id="idCollaborateur" name="idCollaborateur" ng-model="vm.diplome.idCollaborateur" />
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
